/* ====== GRID LAYOUTS ====== */
.grid {
  display: grid;
  grid-template-columns: 90px 1fr 1fr;
  grid-template-rows: 70px 500px 350px 230px 350px 350px;
  grid-template-areas:
     "header header header"
     "nav dashboard dashboard"
     "nav daily mobile"
     "nav social social"
     "nav members activity"
     "nav message settings"
}

/* === HEADER === */
header {
  grid-area: header;
}

/* === ASIDE === */
aside {
  grid-area: nav;
}

/* === MAIN === */
main .dashboard {
  grid-area: dashboard;
}

main .daily-traffic {
  grid-area: daily;
}

main .mobile {
  grid-area: mobile;
}

main .social {
  grid-area: social;
}

main .members {
  grid-area: members;
}

main .activity {
  grid-area: activity;
}

main .message {
  grid-area: message;
}

main .settings {
  grid-area: settings;
}
