/* ====== PAGE LAYOUTS ====== */

/* --- BASE --- */
* {
  box-sizing: border-box;
}

header {
  background-color: #7477bf;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

aside {
  background-color: #4d4c72;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 0;
}

main {
  color: #666666;
}

/* --- HEADER --- */
header .title {
  margin: 0 20px;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0 20px;
}

.profile img[alt="bell"],
.vl,
.profile img[alt="profile"],
.profile p {
  margin: 0 5px;
}

.profile img[alt="bell"] {
  width: 20px;
}

.vl {
  border-left: 2px solid #5d61bf;
  height: 40px;
}

.profile img[alt="profile"] {
  width: 30px;
  border-radius: 50%;
}

/* --- ASIDE --- */
aside img {
  width: 35px;
  margin: 15px 0;
}

/* ========== MAIN ======== */

/* border: 2px solid #d2d2d2 */
/*
.dashboard
main .daily-traffic
main .mobile
main .social
main .members
main .activity
main .message
main .settings
 */

main .dashboard,
main .daily-traffic,
main .mobile,
main .social,
main .members,
main .activity,
main .message,
main .settings {
  border: 2px solid #d2d2d2;
}
