/* ====== PAGE LAYOUTS ====== */
/* --- BASE --- */
* {
  box-sizing: border-box;
}

header {
  background-color: #7477bf;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

aside {
  background-color: #4d4c72;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 0;
}

main {
  color: #676666;
}

h4 {
  text-transform: uppercase;
}

/* --- HEADER --- */
header .title {
  margin: 0 20px;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0 20px;
}

.profile img[alt="bell"],
.vl,
.profile img[alt="profile"],
.profile p {
  margin: 0 5px;
}

.profile img[alt="bell"] {
  width: 20px;
}

.vl {
  border-left: 2px solid #5d61bf;
  height: 40px;
}

.profile img[alt="profile"] {
  width: 30px;
  border-radius: 50%;
}

/* --- ASIDE --- */
aside img {
  width: 35px;
  margin: 15px 0;
}

/*
==============================================
^^^^^^^^^^^^^ DONT TOUCH x DONT TOUCH ^^^^^^^^
==============================================
 */



/* ========== MAIN ======== */

.dashboard,
.daily-traffic,
.mobile,
.social,
.new-members,
.activity,
.message,
.settings {
  border: 1px solid #d2d2d2;
}

/* ---- DAILY TRAFFIC --- */
.daily-traffic {
  display: block;
  padding: 0 5%;
}

/* --- MOBILE USERS --- */
.mobile {
  padding: 0 5%;
}

/* --- SOCIAL STATS --- */
.social-blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.twitter,
.facebook,
.google {
  background-color: #fbfbfb;
  width: 330px;
  height: 115px;
  border: 2px solid #d2d2d2;
  border-radius: 5px;
}

img[alt="twiter-icon"],
img[alt="facebook-icon"],
img[alt="google-icon"] {
  background-color: #7477bf;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: auto;
}

.twitter h3,
.facebook h3,
.google h3 {
  color: #7477bf;
}

.twitter h1,
.facebook h1,
.google h1 {
  margin: 0;
}

/* --- NEW MEMBERS --- */
.members img {
  width: 30px;
  border-radius: 50%;
}


/* --- MESSAGE USER --- */
/* 490 / 125*/
.message {
  padding: 30px;
}
.message p {
  margin: 10px 0;
}

.message input {
  background-color: #fbfbfb;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid #d2d2d2;
  padding: 15px;
}

.message textarea {
  background-color: #fbfbfb;
  width: 100%;
  height: 125px;
  margin: 10px 0;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  padding: 15px;
}

.message button {
  background-color: #4d4c72;
  color: white;
  width: 100%;
  height: 45px;
  border: 1px solid  #4d4c72;
  border-radius: 5px;
  margin: 10px 0;
}


/* --- SETTINGS --- */
.settings {

}
