/* ==== Variables ==== */

// --- major ---
$header-color: #7477bf;

$aside-color: #4d4c72;

$uni-purple: #7377bf;

$background-grey: #fbfbfb;

$white: #ffffff;

// --- minor ---
$borders: #d2d2d2;

$cancel: #b2b2b2;

$input-border: #dbdbdb;

$input-text: #bcbcbc;
