/* ====== ASIDE LAYOUTS ====== */
@import "../utilities/index";

aside {
  background-color: $aside-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 0;
}

aside img {
  width: 35px;
  margin: 15px 0;
}

// ====== MEDIA QUERIES ======
@media (min-width: 320px){
  aside {
    display: flex;
    flex-direction: row;
    padding: 0 3%;
  }

  aside img {
    margin: 15px;
  }
 }

 @media (min-width: 768px) {
   aside {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     padding: 15px 0;
   }
   aside img {
     margin: 15px 0;
   }
 }
