/* ====== MAIN LAYOUTS ====== */
@import "../utilities/index";

/* ========== MAIN ======== */
.daily-traffic,
.mobile,
.social,
.new-members,
.activity,
.message,
.settings {
  @include reg-border;
  padding: 20px;
}

.main {
  color: #676666;
}


/* --- DASHBOARD SEARCH --- */
.alert {
  @include flex-row;
  background-color: $uni-purple;
  color: $white;
  border-radius: 5px;
  width: 1050;
  height: 40px;
  padding: 10px;
  margin: 10px;
}

.tabs {
  height: 65px;
}

.tabs,
.traffic-switch {
  @include flex-row;
  margin: 0 20px;
}

.dashboard-search {
  color: $input-text;
  background-image:url('http://i47.tinypic.com/r02vbq.png');
  background-repeat:no-repeat;
  background-position:right center;
  outline:0;
  width:380px;
  height: 40px;
  padding: 5px;
  border:1px solid $input-border;
  border-radius: 5px;
}

/* ---- DAILY TRAFFIC --- */


/* --- MOBILE USERS --- */


/* --- SOCIAL STATS --- */
.social-blocks {
  @include flex-row;
}

.twitter,
.facebook,
.google {
  background-color: $background-grey;
  width: 330px;
  height: 115px;
  border: 2px solid $borders;
  border-radius: 5px;
}

img[alt="twiter-icon"],
img[alt="facebook-icon"],
img[alt="google-icon"] {
  background-color: $header-color;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: auto;
}

.twitter h3,
.facebook h3,
.google h3 {
  color: $header-color;
}

.twitter h1,
.facebook h1,
.google h1 {
  margin: 0;
}

/* --- NEW MEMBERS --- */
.members img {
  width: 30px;
  border-radius: 50%;
}

.victoria,
.dale,
.dawn,
.dan {
  @include flex-row;

}

/* --- RECENT ACTIVITY --- */


/* --- MESSAGE USER --- */
/* 490 / 125*/
.message input {
  background-color: $background-grey;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid $input-border;
  padding: 15px;
}

.message textarea {
  background-color: $background-grey;
  width: 100%;
  height: 125px;
  margin: 10px 0;
  border: 1px solid $input-border;
  border-radius: 5px;
  padding: 15px;
}

.message button {
  background-color: $uni-purple;
  color: $white;
  width: 100%;
  height: 45px;
  border: 1px solid  $uni-purple;
  border-radius: 5px;
  margin: 10px 0;
}

/* --- SETTINGS --- */
.profile-switch,
.email-switch {
  width: 85px;
}

#timezone {
  background-color: $background-grey;
  color: $input-text;
  width: 100%;
  border: 1px solid $input-border;
  border-radius: 5px;
}

.settings .save {
  background-color: $uni-purple;
  color: $white;
  width: 230px;
  height: 45px;
  border: 1px solid  $uni-purple;
  border-radius: 5px;
  margin: 10px 0;
}

.settings .cancel {
  background-color: $cancel;
  color: $white;
  width: 230px;
  height: 45px;
  border: 1px solid  $cancel;
  border-radius: 5px;
  margin: 10px 0;
}
