/* ====== MAIN LAYOUTS ====== */
@import "../utilities/index";
/* ========== MAIN ======== */
.daily-traffic,
.mobile,
.social,
.new-members,
.activity,
.message,
.settings {
  @include reg-border;
  padding: 1.25em;
}

/* --- DASHBOARD --- */
.tabs {
  @include flex-row;
}

.tabs h2 {
  margin: 0 2%;
}

.search-space {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: $background-grey;
  width: 100%;
  height: 65px;
  @include reg-border;
}

.dashboard-search {
  color: $input-text;
  background-image:url('http://i47.tinypic.com/r02vbq.png');
  background-repeat:no-repeat;
  background-position:right center;
  width: 23.75em;
  height: 40px;
  padding: 10px;
  margin: 0 2%;
  border:1px solid $input-border;
  border-radius: 5px;
}

.dashboard-content {
    padding: 1.25em;
}

.alert {
  @include flex-row;
  background-color: $uni-purple;
  color: $white;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  padding: 10px;
  margin: 10px 0;
}

.traffic-switch {
  @include flex-row;
  margin: 1.25em 0;
}

.switch-toggle.switch-ios {
  margin: 0 5px;
}

.switch-toggle.switch-ios input,
.switch-toggle.switch-ios label {
  padding: 0 1.25em;
}



/* ---- DAILY TRAFFIC --- */
#barChart {
  margin: 2em 0;
}

/* --- MOBILE USERS --- */
#donutChart {
  margin: 1em 0;
}

/* --- SOCIAL STATS --- */
.social-blocks {
  @include flex-row;
}

.twitter,
.facebook,
.google {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: $background-grey;
  width: 330px;
  height: 115px;
  border: 2px solid $borders;
  border-radius: 5px;
}

.social-icon {
  background-color: $header-color;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 1.25em 35px;
  position: relative;
  float: left;
}

.icon {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 1.25em;
	left: 1.25em;
}

.twitter h3,
.facebook h3,
.google h3 {
  color: $header-color;
  margin: 1.25em 0 0 0;
}

.twitter p,
.facebook p,
.google p {
  margin: 0;
  font-size: 3em;
}

/* --- NEW MEMBERS / RECENT ACTIVITY --- */
.victoria,
.dale,
.dawn,
.dan {
  @include flex-row;
  font-size: 14px;
  margin: 1.25em 0;
}

.pic-words {
  @include flex-row;
}

.members img {
  width: 35px;
  border-radius: 50%;
}

.victoria p,
.dale p,
.dawn p,
.dan p {
  margin: 0 10px;
}

/* --- MESSAGE USER --- */
.message-user {
  width: 30.625em;
}

.message input {
  background-color: $background-grey;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid $input-border;
  padding: 15px;
}

.message textarea {
  background-color: $background-grey;
  width: 100%;
  height: 125px;
  margin: 10px 0;
  border: 1px solid $input-border;
  border-radius: 5px;
  padding: 15px;
}

.message button {
  background-color: $uni-purple;
  color: $white;
  width: 100%;
  height: 45px;
  border: 1px solid  $uni-purple;
  border-radius: 5px;
  margin: 10px 0;
}

/* --- SETTINGS --- */
.options {
  width: 30.9375em;
}

.profile-switch,
.email-switch {
  width: 85px;
}

.send-email,
.public-profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 25px 0;
}

.send-email p,
.public-profile p {
  width: 225px;
}

#timezone {
  background-color: $background-grey;
  color: $input-text;
  width: 100%;
  border: 1px solid $input-border;
  border-radius: 5px;
  padding: 10px;
  margin: 15px 0;
}

.save-cancel {
  @include flex-row;
}

.settings .save {
  background-color: $uni-purple;
  color: $white;
  width: 230px;
  height: 45px;
  border: 1px solid  $uni-purple;
  border-radius: 5px;
  margin: 10px 0;
}

.settings .cancel {
  background-color: $cancel;
  color: $white;
  width: 230px;
  height: 45px;
  border: 1px solid  $cancel;
  border-radius: 5px;
  margin: 10px 0;
}

// ====== MEDIA QUERIES ======
@media (min-width: 768px) {
  .search-space {
    justify-content: space-between;
  }
  .dashboard-search {
    width: 23.75em;
    margin: 0 15%;
  }
}

@media (min-width: 1020px) {
  .search-space {
    justify-content: flex-end;
  }
  .dashboard-search {
    margin: 0 2%;
  }
}
