/* --- BASE --- */
@import "../utilities/index";

* {
  box-sizing: border-box;
}

p {
  margin: 10px 0;
}

a {
  color: $white;
  text-decoration: none;
}

hr {
  border: 0.25px solid $input-border;
  width: 90%;
  margin: 10px auto;
}

h5 {
  text-transform: uppercase;
  margin: 10px 0;
}
